@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

p{
    font-size: 18px;
    line-height: 1.5;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.container{
    padding: 80px 0;
}

.nav__logo--title{
    color: #3c5c90;
}

h3{
    font-size: 24px;
}

h3{
    color: rgb(36, 62, 99)
}

.nav__logo:hover .nav__logo--title{
    color: #6415ff;
}

.nav__logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav__img{
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
}

.nav__lists{
    display: flex;
    list-style: none;
    
}

.nav__list{
text-decoration: none;
margin: 0 24px;
font-size: 18x;
font-weight: bold;
color: rgb(36, 62, 99);

}

.nav__list--primary{
    color: white;
    background-color: #7133ee;
    text-decoration: none;
    padding: 12px 32px;
    margin: 0 24px;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms ease;
}

.nav__list:hover {
    text-decoration: underline;
    color: #6415ff;
    transition: all 300ms ease;
}

.nav__list--primary:hover {
    background-color: #6415ff;
}

.btn__learn:hover {
    background-color: #420faa;
}

.purple{
    color: #6415ff;
}

.react1__description{
display: flex;
padding: 96px 0;
}

.react1__description--detail{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.react1__imgs{
    width: 60%;
}

.trustbadge__img{
    width: 100%;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
    
}

.react1__img{
    width: 100%;
}

.react1__title{
    font-size: 48px;
}

.react1__para{
    margin: 32px 0;
}

.trusts{
    margin: 80px 0 0 0;
}

.react1__para--trust{
    font-size: 12px;
    font-weight: 700;
    color: rgb(160, 174, 192);
}

.react1__button{
    position: relative;
    max-width: 438px;
    display: flex;
    align-items: center;
}

.button__input{
    padding: 22px 0px 22px 32px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid lightgray;
    font-size: 16px;
    font-weight: 500;
    transition: all 300ms ease;
}

.cool__button{
    position: absolute;
    right: 0;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    width: 160px;
    border-radius: 9999px;
    line-height: 1.5;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.feature__caption{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.features__title{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #243e63;
}

.features__para{
    font-size: 18px;
    color: rgb(124, 139, 161);
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500px;
    margin-top: 16px;
}

.feature__services{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 40px;
}

.feature__service{
    display: flex;
    width: calc(100%/3);
    padding: 32px 8px;
    
}

.features__container{
    margin: 8px 0 0 16px;
}

.feature_img{
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 100%;
}

.features__container--para{
    color: rgb(124, 139, 161);
    margin-top: 16px;
    width: 250px;
    font-size: 16px;
    font-weight: 500;
}

.quality__description{
    display: flex;
    flex-direction: row;
}

.quality__descript{
    width: 50%;
    margin-right: 64px;
}

.quality__figure{
    width: 50%;
}

.quality__img{
    width: 100%;
}



.quality__h1{
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    padding-top: 16px;
}

.quality__caption{
    color:rgb(100, 21, 255);
    font-size: 16px;
}

.button__purple{
   margin-top: 32px;
  
}

.btn__learn{
    background-color:rgb(100, 21, 255);
    border: none;
    color: white;
    border-radius: 50px;
    padding: 12px 32px;
    font-weight: 700;
}


.quality__para{
    color: rgb(124, 139, 161);
    margin-top: 16px;
}

.steps{
    display: flex;
}

.steps__figure{
    width: 50%;
    display: flex;
    align-items: center;
}

.steps__img{
    width: 100%;
}

.steps__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.steps__title{
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    margin-top: 16px;
}

.steps__subtitle{
    color:rgb(100, 21, 255);
    font-size: 16px;
    font-weight: 700;
}

.steps__steps{
    display: flex;
    flex-direction: column;
}

.steps__small{
    display: flex;
}

.step__h2{
    color: rgb(36, 62, 99);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.steps__small--h1{
    font-size: 36px;
    font-weight: 600;
    color: #cbd5e0;
}

.steps__small{
    margin-top: 32px;
}

.steps__word{
    margin-left: 24px;
}

.values__button{
    margin-top: 48px;
    width: 150px;
}

.values{
    width: 100%;
    display: flex;
}

.values__description{
    width: 50%;
    margin-right: 64px;
}
.values__figure{
    width: 50%;
}
.values__img{
    width: 100%;
}

.values__subtitle{
    color:rgb(100, 21, 255);
    font-size: 16px;
    font-weight: 700;
}

.values__title{
    font-size: 48px;
    font-weight: 900;
    color: #243e63;  
    margin-top: 16px;
}

.values__description{
    display: flex;
    flex-direction: column;
}

.values__af-pro{
    display: flex;
}

.values__money, .suitcase{
    display: flex;
    align-items: center;
    
}
.values__para{
    color: rgb(124, 139, 161);
    font-size: 18px;
    margin-top: 32px;
}
.values__para--small{
    font-size: 16px;
    margin-top: 16px;
    color: rgb(113, 128, 150);
}

.values__af-pro{
    margin-top: 32px;
}

.suitcase__i{
color: rgb(155, 44, 44);
    
}

.values__caption{
font-size: 20px;
margin-left: 12px;
color: rgb(36, 62, 99);
}

.values__affordable{
    margin-right: 32px;
}

.dollar__border{
    background-color: rgb(154, 230, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50px;
    color: rgb(39, 103, 73);
    width: 36px;
    height: 36px;
}

.suitcase__i{
    background-color:rgb(254, 178, 178);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50px;
    color: rgb(155, 44, 44);
    width: 36px;
    height: 36px;
}

.header_container{
    margin-top: 40px;
}

.pricing__h2{
    color: rgb(100, 21, 255);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.pricing__h1{
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    text-align: center;
}

.pricing__para{
    margin: 0 auto;
    color: rgb(124, 139, 161);
    font-size: 18px;
    text-align: center;
    max-width: 36rem;
    margin-top: 16px;
}

.plans{
    display: flex;
    flex-wrap: wrap;
}

.plan{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    padding: 32px;
    
}

.plan__card{
    border:  1px solid rgb(229, 231, 235);
    border-radius: 8px;
}





.plan__top{
    display: flex;
    flex-direction: column;
    padding: 32px
}

.middle__border{
    display: flex;
    flex-direction: column;
   
}

.last__border{
    padding: 32px
}



.name{
font-size: 20px;
color: black;
font-weight: 700;
text-align: center;
text-transform: capitalize;
}
.price{
margin: 4px 0;
font-size: 48px;
font-weight: 700;
text-align: center;
}
.duration{
color: rgb(160, 174, 192);
text-align: center;
font-size: 16px;
}

.middle__border{
    padding: 32px;
}

.feature__main{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.feature{
   text-align: center;
   font-weight: 500;
   margin-top: 20px; 
   color: rgb(113, 128, 150);
}

.border1{
    border: solid 1px rgb(229, 231, 235);
}





